<!-- 引入布局文件 -->
<layout name="layout" />

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__SELF__" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">用户名字:</td>
                    <td><input type="text" name="role_name" size="30" /></td>
                </tr>
                <tr>
                    <td class="label">权限列表:</td>
                    <td>
                        <?php foreach($priData as $k => $v): ?>
                            <input type="checkbox" name="pri_id[]" value="<?php echo $v['id']; ?>" />
                            <?php echo str_repeat('-',8*$v['level']) . $v['pri_name']; ?>
                            <br />
                        <?php endforeach; ?>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>

</html>