<!-- 引入布局文件 -->
<layout name="layout" />
<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>权限名称</th>
                <th>模块名称</th>
                <th>控制器名称</th>
                <th>方法名称</th>
                <th>上级权限id</th>
                <th>操作</th>
            </tr>
            <?php foreach($data as $k => $v): ?>
            <tr class="tron">
                <td><?php echo str_repeat('-',8*$v['parent_id']) . $v['pri_name']; ?></td>
                <td><?php echo $v['module_name']; ?></td>
                <td><?php echo $v['controller_name']; ?></td>
                <td><?php echo $v['action_name']; ?></td>
                <td><?php echo $v['parent_id']; ?></td>
                <td align="center">
                    <a href="<?php echo U('privilegeEdit?id='.$v['id']); ?>">修改</a>
                    <a onclick="return confirm('确定要删除吗？');" href="<?php echo U('delete?id='.$v['id']); ?>">删除</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>
    </div>
</form>
<!-- 引入行高亮显示 -->
<script type="text/javascript" src="__PUBLIC__/datetimepicker/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
</body>
</html>